<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fable.imageviewer.model.fableLoader" name="Fable Image Loader" schema="schema/fable.imageviewer.model.fableLoader.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fable.imageviewer.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">

      <!--
      <view
            allowMultiple="false"
            category="fable.imageviewer.category"
            class="fable.imageviewer.views.HeaderPlotView"
            icon="icons/chart_pie.png"
            id="fable.imageviewer.views.HeaderPlotView"
            name="Header Plot">
      </view>
      -->
      <view
            allowMultiple="true"
            category="org.dawb.workbench.application.data.analysis"
            class="fable.imageviewer.views.ImageView"
            icon="icons/zoom_box.gif"
            id="fable.imageviewer.views.ImageView"
            name="Image">
      </view>
      <view
            allowMultiple="false"
            category="org.dawb.workbench.application.data.analysis"
            class="fable.imageviewer.views.LineView"
            icon="icons/zoom_line.gif"
            id="fable.imageviewer.views.LineView"
            name="Line">
      </view>
      <view
            allowMultiple="false"
            category="org.dawb.workbench.application.data.analysis"
            class="fable.imageviewer.views.ProfileView"
            icon="icons/zoom_profile.gif"
            id="fable.imageviewer.views.ProfileView"
            name="Profile">
      </view>
      <view
            allowMultiple="false"
            category="org.dawb.workbench.application.data.analysis"
            class="fable.imageviewer.views.ReliefView"
            icon="icons/zoom_relief.png"
            id="fable.imageviewer.views.ReliefView"
            name="Relief">
      </view>
      <view
            allowMultiple="false"
            category="org.dawb.workbench.application.data.analysis"
            class="fable.imageviewer.views.RockingCurveView"
            icon="icons/zoom_rocking.png"
            id="fable.imageviewer.views.RockingCurveView"
            name="Rocking Curve">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fable.imageviewer.application"
            name="Fable ImageViewer">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="appName"
               value="Fable ImageViewer">
         </property>
         <property
               name="windowImages"
               value="icons/imageviewer_16x16.gif,icons/imageviewer_32x32.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
    	point="org.eclipse.ui.splashHandlers">
    	<splashHandler
    		class="fable.imageviewer.rcp.SplashHandler"
    		id="fable.imageviewer.splashHandler">
    	</splashHandler>
    	<splashHandlerProductBinding
    		productId="fable.imageviewer.product"
    		splashId="fable.imageviewer.splashHandler">
    	</splashHandlerProductBinding>
	</extension>
	<!--
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.dawnsci.preferences.root"
             class="fable.imageviewer.preferences.ImageviewerPreferencePage"
             id="fable.imageviewer.preferences.ImageviewerPreferencePage"
             name="ImageViewer">
       </page>
    </extension>
    -->
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="fable.imageviewer.preferences.PreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <viewerContribution
             id="fable.imageviewer.contextMenu"
             targetID="fable.framework.navigator.views.SampleNavigatorViewid">
          <action
                class="fable.imageviewer.actions.Slice1DAction"
                id="fable.imageviewer.slice1DAction"
                label="Slice 1D"
                menubarPath="additions">
          </action>
          <action
                class="fable.imageviewer.actions.Slice2DAction"
                id="fable.imageviewer.slice2DAction"
                label="Slice 2D"
                menubarPath="additions">
          </action>
          <action
                class="fable.imageviewer.actions.InputSummaryAction"
                id="fable.imageviewer.summaryAction"
                label="Summary"
                menubarPath="additions">
          </action>
       </viewerContribution>
       <objectContribution
             adaptable="true"
             id="fable.imageviewer.objectContribution.File"
             objectClass="org.eclipse.core.resources.IFile">
          <action
                class="fable.imageviewer.actions.OpenImageViewerResourceAction"
                enablesFor="+"
                icon="icons/open_image_files.gif"
                id="fable.imageviewer.actions.openFileAction2"
                label="Open ImageViewer File(s)"
                menubarPath="fable.actions.openWithOtherMenu/separator1">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="true"
             id="fable.imageviewer.objectContribution.Directory"
             objectClass="org.eclipse.core.resources.IFolder">
          <action
                class="fable.imageviewer.actions.OpenImageViewerResourceAction"
                enablesFor="+"
                icon="icons/open_image_directory.gif"
                id="fable.imageviewer.actions.openSampleAction2"
                label="Open ImageViewer Directory(s)"
                menubarPath="fable.actions.openWithOtherMenu/separator1">
          </action>
       </objectContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="fable.imageviewer.category"
             name="ImageViewer">
       </category>
       <command
             categoryId="fable.imageviewer.category"
             defaultHandler="fable.imageviewer.handlers.OpenFileHandler"
             id="fable.imageviewer.openFile"
             name="Open File(s)...">
       </command>
       <command
             categoryId="fable.imageviewer.category"
             defaultHandler="fable.imageviewer.handlers.OpenSampleHandler"
             id="fable.imageviewer.openDirectory"
             name="Open Directory...">
       </command>
       <command
             categoryId="fable.imageviewer.category"
             defaultHandler="fable.imageviewer.handlers.OpenPerspectiveHandler"
             id="fable.imageviewer.openPerspective"
             name="Open ImageViewer Perspective">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.cheatsheets.cheatSheetContent">
       <category
             id="org.dawb.fable.imageviewer.category"
             name="Fable Imageviewer">
       </category>
       <cheatsheet
             category="org.dawb.fable.imageviewer.category"
             composite="false"
             contentFile="$nl$/cheatsheets/highlighting.xml"
             id="org.dawb.fable.imageviewer.cheatsheet"
             name="Highlighting">
       </cheatsheet>
       <cheatsheet
             category="org.dawb.fable.imageviewer.category"
             composite="false"
             contentFile="$nl$/cheatsheets/intensity_settings.xml"
             id="org.dawb.fable.imageviewer.cheatsheet"
             name="Intensity settings">
       </cheatsheet>
       <cheatsheet
             category="org.dawb.fable.imageviewer.category"
             composite="false"
             contentFile="$nl$/cheatsheets/batching.xml"
             id="org.dawb.fable.imageviewer.cheatsheet"
             name="Batching">
       </cheatsheet>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="fable.imageviewer.editor.ImageEditor"
             default="false"
             extensions="tif, tiff, cbf, img, ciff, mccd, edf, pgm, cor, bruker"
             icon="icons/image_editor.png"
             id="fable.imageviewer.editor.ImageEditor"
             name="Fable Image">
       </editor>
    </extension>
 
</plugin>
